pandas==1.3.5
numpy==1.21.6
torch==1.13.1
torchvision==0.14.1
tensorflow==2.11.0
numba==0.51.0
matplotlib
scipy
pycox
sklearn-pandas
jupyterhub
jupyter_core
jupyter_server
jupyterlab
jupyter_contrib_nbextensions
